footer{
    background-color: #262626;   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    height: 10vh;
    width: 100%;
    bottom: 0;
    /* margin-top: 30px; responsividade*/ 
}